<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"> 
    <title>Iniciar sesion</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'registro.css'%}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
  <body>

    <!-- <form  action = "" method = "POST">
        {% csrf_token %}

        <div>
            {{form.nombre.label_tag}}
            {{form.nombre}}
        </div>

        <div>
            {{form.contraseña.label_tag}}
            {{form.contraseña}}
        </div>

        <div>
            {{form.tipo_empresa.label_tag}}
            {{form.tipo_empresa}}
        </div>
 
         <input type = "submit" value="Registrar">
    </form> -->

    <section class="vh-100 bg-image"
      style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
      <div class="gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">Bienvenido, vigilante!</h2>

                  <form>
                    <div class="form-outline mb-4">
                      <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1cg">Nombre de usuario</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example4cg">Contraseña</label>
                    </div>

                    <div class="d-flex justify-content-center">
                      <button type="button"
                        class="gradient-custom-4y">Iniciar sesión</button>
                    </div>

                    <p class="text-center text-muted mt-5 mb-0">Eres un estudiante? <a href="#!"
                        class="fw-bold text-body"><u>Ingresa a aqui</u></a></p>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>  