{% load static %}x
<!DOCTYPE html>
<html>
<head>
	<title>EAFIT Securitum</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
	<header>
		<h1>EAFIT Securitum</h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Objetos perdidos:  </a></li>
				<li><a href="#">Objetos perdidos estudiante: </a></li>
				<li><a href="#">Objetos encontrados:</a></li>
				<li><a href="#">Registrar objeto encontrado:</a></li>
			</ul>
		</nav>
	</header>
	
	<main>
		<section>
			<h2>Bienvenido al sistema de objetos perdidos!</h2>
			<p>Si has encontrado o perdido un objeto en el campus, has llegado al lugar correcto! Nuestra plataforma esta diseñada para reunir a los objetos perdidos con sus dueños de forma rapida y sencilla. Ya sea que hayas perdido tu celular, cartera o chaqueta favorita, estamos para ayudar.</p>
			<p>Si perdiste algun objeto dirijete a la seccion de estudiantes, y si se ha reportado algo que parece ser que se te perdio, dirigete al bloque de objetos perdidos para recuperarlo</p>
		</section>
	</main>
	
	<footer>
		<p>&copy; 2023 Securitum</p>
	</footer>
</body>
</html>
