{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>EAFIT Securitum</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
	<header>
		<h1>EAFIT Securitum</h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Reportar objeto perdido </a></li>
				<li><a href="#">Reportar objeto escontrado </a></li>
				<li><a href="#">Buscar objeto perdido</a></li>
				<li><a href="#">Buscar objeto encontrado</a></li>
			</ul>
		</nav>
	</header>
	
	<main>
		<section>
			<h2>Bienvenido al sistema de objetos perdidos!</h2>
			<p>If you've lost or found an item, you've come to the right place. Our platform is designed to help reunite lost items with their owners as quickly and easily as possible. Whether you've lost your phone, your wallet, or your favorite sweater, we're here to help.</p>
			<p>To report a lost or found item, click on the links above. If you're searching for a lost or found item, use the search bar to find what you're looking for.</p>
		</section>
	</main>
	
	<footer>
		<p>&copy; 2023 Securitum</p>
	</footer>
</body>
</html>
